<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.stolenzc.office.client</string>

    <key>ProgramArguments</key>
    <array>
        <string>/Users/stolen/Documents/code/office/client/client</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/Users/stolen/Library/Logs/stolenzc.office.client.stdout.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/stolen/Library/Logs/stolenzc.office.client.stderr.log</string>

    <key>WorkingDirectory</key>
    <string>/Users/stolen/Documents/code/office/client</string>
</dict>
</plist>
